@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  min-height: 100dvh;

}

#root{
  height: 100%;
  width: 100%;
}

.placeholder-error::placeholder{
  color: tomato;
}